<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>processRegister</servlet-name>
        <servlet-class>com.rental.process.processRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processLogin</servlet-name>
        <servlet-class>com.rental.process.processLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processViewProfile</servlet-name>
        <servlet-class>com.rental.process.processViewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processLogout</servlet-name>
        <servlet-class>com.rental.process.processLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processViewUpdate</servlet-name>
        <servlet-class>com.rental.process.processViewUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processBooking</servlet-name>
        <servlet-class>com.rental.process.processBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processViewStatus</servlet-name>
        <servlet-class>com.rental.process.processViewStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processViewDetail</servlet-name>
        <servlet-class>com.rental.process.processViewDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processUpdateDetail</servlet-name>
        <servlet-class>com.rental.process.processUpdateDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processUpdatePass</servlet-name>
        <servlet-class>com.rental.process.processUpdatePass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>processRegister</servlet-name>
        <url-pattern>/processRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processLogin</servlet-name>
        <url-pattern>/processLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processViewProfile</servlet-name>
        <url-pattern>/processViewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processLogout</servlet-name>
        <url-pattern>/processLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processViewUpdate</servlet-name>
        <url-pattern>/processViewUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processBooking</servlet-name>
        <url-pattern>/processBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processViewStatus</servlet-name>
        <url-pattern>/processViewStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processViewDetail</servlet-name>
        <url-pattern>/processViewDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processUpdateDetail</servlet-name>
        <url-pattern>/processUpdateDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processUpdatePass</servlet-name>
        <url-pattern>/processUpdatePass</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            login.jsp
        </welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
